language: cpp
sudo: false
matrix:
  include:
  - os: linux
    compiler: clang
    addons: &1
      apt:
        sources:
        - llvm-toolchain-precise-5.0
        - ubuntu-toolchain-r-test
        - george-edison55-precise-backports
        packages:
        - liblapack-dev
        - clang-5.0
        - libhdf5-serial-dev
        - g++-4.9
    env:
      - CXX_COMPILER='clang++-5.0'
      - PYTHON_VER='3.6'
      - C_COMPILER='clang-5.0'
      - BUILD_TYPE='Debug'
      - NAME='clang'
      - VERSION='5.0'

script:
- wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda update -q conda
- conda info -a
- conda create -q -n qforte python=$PYTHON_VER numpy cmake
- source activate qforte
- python -V
- cd ${TRAVIS_BUILD_DIR}
- export CXX=${CXX_COMPILER}
- ${CXX_COMPILER} --version
- cd ${HOME}/build/evangelistalab/qforte
- python setup.py build
- python setup.py test
